.wrapper{
width:100%;
overflow: hidden;
position: absolute;
left:0px;
 
}

#header{
height: 120px;
width: auto;
top: 10px;
background-color: white;
position: relative;
margin-left: 0px;

 
}

#logo{
  display: block;
height: 230px;
width: 300px;
position: relative;
margin-right: auto;
margin-left: auto;
}


#settings{
  position: relative;
  height: 50px;
  width: auto;
  background-color: lightblue;
  top: 155px;
  left: 0px;
  border-style: solid;
  border-color:black;
  border-left:transparent;
  border-right:transparent;
  border-width: 3px;
}

.ui-datepicker-calendar {
  background-color: white; 
}





#container {
  height: 900px;
  width: auto;
  top: 155px;
  background-color: rgb(150, 150, 150);
  position: relative;
  left:0px;
  margin-right: auto; 

}

#bygning{
  width: 1351px;
  height: 690px;
}

.alleRom{
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#rom1{
height: 175px;
width: 181px;
left: 396px;
top: 300px;
transform: skew(-39deg, 14deg);
}

#rom2{
height: 167px;
width: 181px;
left: 207px;
top: 253px;
transform: skew(-42deg, 15deg);
}

#rom3{
height: 189px;
width: 191px;
left: 716px;
top: 380px;
transform: skew(-32deg, 15deg);
}

#rom4{
height: 196px;
width: 192px;
left: 916px;
top: 428px;
transform: skew(-29deg, 15deg);
}

#rom5{
height: 133px;
width: 168px;
left: 421px;
top: 37px;
transform: skew(-43deg, 13deg);

}

#rom6{
height: 140px;
width: 173px;
left: 592px;
top: 75px;
transform: skew(-39deg, 13deg);
}

#rom7{
height: 155px;
width: 174px;
left: 887px;
top: 138px;
transform: skew(-31deg, 13deg);
}

#rom8{
height: 162px;
width: 181px;
left: 1065px;
top: 177px;
transform: skew(-28deg, 13deg);
}







footer{
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background-color: lightblue;
  border:solid;
  border-color:solid black;
  border-left:transparent;
  border-right:transparent;
  border-width:3px;
}




<!--nav-bar-->
body {
  position: fixed;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: center;
  background: #E3CAA1;
}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  top:-13px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #555;
  color: #fff;
}


ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { 
	background: #666; 
}
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}




