/*Wrapperen som omfatter alt på layout siden*/
.wrapper{
width:100%;
overflow: hidden;
position: absolute;
left:0px;
 
}
/*Header div som inneholder logo*/
#header{
height: 120px;
width: auto;
top: 10px;
background-color: white;
position: relative;
margin-left: 0px;

 
}

#logo{
  display: block;
height: 230px;
width: 300px;
position: relative;
margin-right: auto;
margin-left: auto;
}
#mario{
  position: fixed;
  bottom: 50px;
  left: 0px;
  z-index: -1;
}
#pipe{
  position: relative;
left: -38px;
top: -31px;
width: 389px;
}

#background{
  position: absolute;
height: 789px;
width: 100%;
top: 51px;
left: 0px;
background-color: rgb(100,149,237);
  z-index: -2;
}

#footer{
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background-color: lightblue;
  border:solid;
  border-color:solid black;
  border-left:transparent;
  border-right:transparent;
  border-width:3px;
}
.footerBilde{
  left:0;
  height: 90px;
  width:100%;
}




/*Settings tabben med alle innputs*/
#settings{
  height: 50px;
  width: auto;
  background-color: lightblue;
  top: 155px;
  position: relative;
  left: 0px;
  border-style: solid;
  border-color:solid black;
  border-left:transparent;
  border-right:transparent;
  border-width: 3px;
}




.ui-datepicker-calendar {
  background-color: white; 
}




/*Container med romkartet*/
#container {
  height: 1000px;
  width: auto;
  top: 155px;
  position: relative;
  left:0px;
  margin-right: auto; 


}
    /*img tag for bygning bilde*/

#bygning{
width: 991px;
height: 690px;
position: relative;
top: 0px;
right: -362px;
z-index: -1;
}
    /*Felles klasse for alle rommene*/
.alleRom{
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#rom1{
height: 178px;
width: 160px;
left: 585px;
top: 303px;
transform: skew(-33deg, 17deg);
}

#rom2{
height: 171px;
width: 154px;
left: 432px;
top: 254px;
transform: skew(-36deg, 18deg);
}

#rom3{
height: 194px;
width: 162px;
left: 853px;
top: 380px;
transform: skew(-27deg, 17deg);
}

#rom4{
height: 202px;
width: 167px;
left: 1018px;
top: 433px;
transform: skew(-24deg, 18deg);
}

#rom5{
height: 137px;
width: 141px;
left: 609px;
top: 29px;
transform: skew(-35deg, 15deg);

}

#rom6{
height: 149px;
width: 148px;
left: 751px;
top: 68px;
transform: skew(-32deg, 16deg);
}

#rom7{
height: 164px;
width: 146px;
left: 1000px;
top: 133px;
transform: skew(-26deg, 15deg);
}

#rom8{
height: 170px;
width: 157px;
left: 1147px;
top: 174px;
transform: skew(-24deg, 15deg);
}

/*Footer med footer bildet*/


}





<!--nav-bar-->
body {
  position: fixed;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: center;
  background: #E3CAA1;
}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  top:-13px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #555;
  color: #fff;
}
romkart:target{
  color:black;

}

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { 
	background: #666; 
}
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}




