#header{
height: 120px;
width: 1100px;
top: 10px;
background-color: white;
position: relative;
margin-left: auto;
margin-right: auto;
}

#logo{
height: 230px;
width: 300px;
top:0px;
position: absolute;
left:420px;
}


#settings{
	height: 55px;
	width: 1300px;
<<<<<<< HEAD
	top: 155px;
=======
	top: 150px;
>>>>>>> 7fe01ea808c63c916789426fe6afc4aa7a76e297
	background-color: lightblue;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	left:-10px;
<<<<<<< HEAD
	border-style: solid;
	border-color:black;
	border-width: 3px;
}
=======
	border-style: groove;
	border-color: black;
	border-width: 3px;
>>>>>>> 7fe01ea808c63c916789426fe6afc4aa7a76e297

.ui-datepicker-calendar {
  background-color: white;
}






.allInputs{
	position: relative;
	float: left;
	width: 200px;
	height: 54px;
	border-style: groove;
<<<<<<< HEAD
	border-color: black;
	border-width:1px;
  visibility: hidden;
=======
	border-width: 1px;
	border-color: black;
>>>>>>> 7fe01ea808c63c916789426fe6afc4aa7a76e297
}

#romkart {
	height: 400px;
	width: 1300px;
	top: 58px;
	background-color: rgb(150, 150, 150);
	position: absolute;
	left:-10px;
	margin-right: auto; 

}



.alleRom{
	height: 100px;
	width: 100px;
	position: relative;
	background-color: rgb(180, 180, 180);
	border-style: solid;
	border-width: 5px;
	border-color: rgb(130, 130, 130);
	float: left;
	text-align: center;
}


.alleRom:hover { 
    background-color: rgb(200, 200, 200);
}

<!--nav-bar-->
body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: center;
  background: #E3CAA1;
}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: light-blue;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { 
	background: #666; 
}
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}


