.wrapper{ 
top:100px;	
width:330px;
overflow: hidden;
position: relative;
margin-left: auto;
margin-right: auto;
border:double;
border-color:solid black;
overflow: hidden;
border-width:3px;
}

#Logo{
position: relative;
left:30px;
}

.error{
	color: rgb(255, 0, 0);
}