.wrapper{ 
width:100%;
overflow: hidden;
position: absolute;
left:0px;
 
}

#box{
	border:solid;
	border-color:red;
}

#Logo{
margin-right: auto;
margin-left: auto;
}

#login{
	position: absolute;
	bottom:0;
}

.error{
	color: rgb(255, 0, 0);
}