.wrapper{ 
top:100px;	
width:430px;
overflow: hidden;
position: relative;
margin-left: auto;
margin-right: auto;
border:double;
border-color:solid black;
overflow: hidden;
border-width:3px; 
}

#Logo{
	position: relative;
	left:100px;
}

#passord{
	position: relative;
	left: 0px;
}


#pointer{
	position: absolute;
	height: 350px;
	width: 350px;
	bottom: 0;
	left:0;

}
.error{
	color: rgb(255, 0, 0);
}